html, body {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eeeeee;
}

h1 {
    width: 250px;
    margin-left: 40px;
    font-size: 50px;
    color: black;
}

main {
    display: grid;
    grid-template-rows: 30px 50px;
    grid-template-areas:
    "input"
    "list" ;
    gap: 20px;
}

.input {
    display: flex;
    gap: 2em;
}

#input-box {
    width: 250px;
    height: 24px;
    font-size: 20px;
    align-items: center;
    border: 2px solid #dadada;
}
/* #input-box:focus {
    border-color: aquamarine;
} */

#add {
    border-radius: 50%;
    /* border-color: aquamarine; */
    width: 30px;
    height: 30px;
}
#add:hover {
    border: 2px solid aquamarine;
    cursor: pointer;
}

.list {
    color: black;
    font-size: 20px;
}

.tasklist {
    display: grid;
    grid-template-columns: 300px 20px 10px;
    grid-template-areas: "1 2 3";
    align-items: center;
}

.checkbox, .delete-tasks {
    background: none;
    border: none;
    color: black;
}

